
h1 {
    font-size: 2.5rem;
}

.shadow-sm {
    transition: 0.3s;
}

    .shadow-sm:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    }
.note-card {
    border-radius: 12px;
    transition: 0.2s ease;
}

    .note-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }
